<?xml version="1.0"?>
<robot name="hermesArm">

 <!-- **************************** BASE ***************************** -->
 <link name="Base">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://hermesArmKDL/stl/BaseSchunk.stl" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://hermesGazebo/stl/BaseSchunkLow.stl" />
      </geometry>
    </collision>
  </link>

</robot>

<!-- **************************** Link 1 ***************************** -->
